a, a:visited
{
	color:#fff;
	text-decoration:none;
	font-weight:bold;
}

a:hover, a:active
{
	text-decoration:underline;
}
	
a.blk, a.blk:visited
{
	color:#000;
	text-decoration:none;
	font-weight:bold;
}

a.blk:hover, a.blk:active
{
	text-decoration:underline;
}

a.blk2, a.blk2:visited
{
	color:#000;
	text-decoration:none;
	!font-weight:bold;
}

a.blk2:hover, a.blk2:active
{
	text-decoration:none;
}	

#about_content_heading
{
	text-align:center;
	font-weight:bold;
	margin-bottom:70px;	
	font-size:3em;
	color:#fff;
}

#about_content
{
	margin:0 auto;
	width:1200px;
	height:400px;
	color:#fff;
	font-size:1.5em;
}

body
{
	margin:0;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	font-size:1.1em;
}

#book_links
{
	width:auto;
	margin:0 auto 70px;
	text-align:center;
}

#chef_books
{
	display:inline;
}
/* ---------------- */
/* Chef bio styling */

#chef_name /* Heading above video */
{
	text-align:center;
	font-weight:bold;
	margin-bottom:50px;	
	font-size:3em;
}

#chef_aside /* Left aside div */
{
	float:left;
	margin-right:50px;
	height:100%;
	max-width:324px;
}

#chef_bio
{
	border:1px solid #000000;
	!float:left;
	padding:10px;
	max-width:324px;
	text-align:center;
	margin-bottom:30px;
}
	
#chef_vote_form
{
	background:#CCCCCC;
	!float:left;
	border:1px solid #000000;
	padding:20px;
	max-width:324px;
}

#chef_bio_main
{
	!float:right;
	max-width:100%;
	vertical-align:top;
}

#chef_youtube
{
	float:right;
	width:100%;
}

/* qf = "Quick Facts" section */
.qf_heading
{
	color:#0066FF;
	font-size:2em;
}

.qf_topic
{
	font-size:1.3em;
	font-weight:bold;
}

.qf_sub_topic
{
	font-size:1em;
}

#container
{
	margin:0 auto;
	min-height:100%;
	height:auto !important;
	height:100%;
	position:relative;
	padding-bottom:40px;
}

#content
{
	width:1500px;
	margin:auto;
	color:#393939;
	font-size:1.2em;
	line-height:2em;
}

#content_index
{
	background-image:url(../images/bg4.jpg);
	width:1500px;
	border-bottom-width: 0px;
	color:#fff;
	font-size:1.2em;
	line-height:2em;
}

#content img
{
	border:1px solid #CCC;
}

/* End Chef bio styling */
/* -------------------- */

.copyright
{
	color:#212121;
}

#embreak
{
	border0;
	height:1px;
	color:#000;
}

/* text fader */



/* end text fader */

#footer
{
	width:100%;
	height:40px;
	margin:40px auto;
	text-align:center;
	line-height:2em;
	font-size:.9em;
	clear:both;
}

#footer_index
{
	margin-bottom:0;
	bottom:0;
	color:#fff;
	
}

#footer p
{
	margin:0;
}

#footer li ul{
	list-style:none;
	padding:0px;
	margin-bottom:12px;
}

/* Begin Form Style */

#form_section
{
	margin:0 auto;
	clear:both;
}

#contact_form
{
	margin:40px;
}

#form
{
	width:600px;
    padding:20px;
    border:1px solid black;
	float:left;
	margin-right:20px;
}

#form h2
{
    color:#0066FF;
    font-size:2em;
    margin:0;
	text-align:center;
}

#form p
{
    font-size:1em;
}

#form input, textarea, button
{
    width:100%;
    border:1px solid black;
    padding:5px 5px;
	height:2em;
}

#form label
{
    font-weight:bold;
    font-size:1em;
}

.required
{
    color:#dd6666;
}

#contact_map
{
	float:right;
}

#contact_response
{
	text-align:center;
	height:400px;
	margin:0 auto;
}

/* End Form Style */

header
{
	!background-color:blue;
	height: 200px;
	width: 100%;
	margin:0 auto;
	position: relative;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

hr.fade
{
    border:0;
	height:1px;
	background-image:-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
	background-image:-ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:-o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

hr.fade_white
{
	border:0;
	height:1px;
	background-image:-webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
	background-image:-moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
	background-image:-ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:-o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

#index_spacer
{
	text-align:center;
	vertical-align:baseline;
	margin-bottom:0;
	!padding:50px;
	color:#fff;
}

#logo
{
	height: 70px;
	width: 219px;
	margin-top:25px;
	margin-left:60px;
	float: left;
	display: block;
	font-size:42px;
	font-weight:bolder;
	color:#fff;
	line-height:1em;
	z-index:1;
}

#logo_index
{
	margin-left:60px;
	float: left;
	display: block;
	font-size:42px;
	font-weight:bolder;
	color:#fff;
	line-height:1em;
	z-index:1;
}
	
#spacer
{
	height:600px;
	margin:0 auto;
}

#spacer_address
{
	height:200px;
	margin:0 auto;
}

#survey_results
{
	text-align:center;
	height:500px;
	margin:0 auto;
}

#video_container
{
	display:block;
	margin:0 auto;
	text-align:center;
	vertical-align:middle;
	height:600px;
	overflow:hidden;
	!background-color: #282828;
}

video
{
	width:1000px;
	height:auto;
	z-index:-1;
	background:url(../images/12hr_drip_coffee.png) no-repeat;
}

video#bgvid {
	position:fixed;
	top:-40px;
	left:0px;
	min-width:100%;
	min-height:100%;
	width:auto;
	height:auto;
	background:url(../images/12hr_drip_coffee.png) no-repeat;
	background-size:cover;
	z-index:-1;
}

#video_content
{
	position:absolute;
	top:50;
	right:0;
	bottom:0;
	left:0;
	z-index:1;
	padding:10px 20px;
	text-align:center;
	color:#fff;
	margin-bottom:250px;
}

#video_content a
{
	display: inline-block;
	margin: 0;
	padding: 20px 20px;
	font-family: Arial, Helvetica, sans-serif;
	border: solid 1px #fff;
	-webkit-transition: background 0.3s, color 0.3s, text-shadow 0.3s;
	-moz-transition: background 0.3s, color 0.3s, text-shadow 0.3s;
	-o-transition: background 0.3s, color 0.3s, text-shadow 0.3s;
	transition: background 0.3s, color 0.3s, text-shadow 0.3s;
}

#video_content a:hover
{
	background-color: #fff;
	color: #787878;
	text-shadow: none;
}

.white
{
	color:#fff;
}